.prose {
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    margin-top: 0;
  }
  p:has(+ ol),
  p:has(+ ul) {
    margin-bottom: 0;
  }
  li {
    line-height: 1.618;
  }
  blockquote {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    border-left: 2px solid var(--color-border);
    padding-left: calc(var(--spacing) * 6);
    font-style: italic;
  }
  table {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    width: 100%;
    overflow-y: auto;
  }
  table thead tr {
    margin: 0;
    border-top: 1px solid var(--color-border);
    padding: 0;
  }
  table thead tr:nth-child(even) {
    background-color: var(--color-muted);
  }
  table th {
    border: 1px solid var(--color-border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
    font-weight: 700;
  }
  table th[align="center"] {
    text-align: center;
  }
  table th[align="right"] {
    text-align: right;
  }
  table tbody tr {
    margin: 0;
    border-top: 1px solid var(--color-border);
    padding: 0;
  }
  table tr:hover {
    background-color: var(--color-muted);
  }
  table td {
    border: 1px solid var(--color-border);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
  }
  table td[align="center"] {
    text-align: center;
  }
  table td[align="right"] {
    text-align: right;
  }
  ul {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: disc;
  }
  ul > li {
    margin-top: var(--spacing);
  }
  ul p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
  ol {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: decimal;
  }
  ol > li {
    margin-top: var(--spacing);
  }
  ol p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
  }
  pre {
    background-color: var(--color-muted);
    border-radius: calc(var(--radius) - 2px);
    padding: calc(var(--spacing) * 4);
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    overflow-y: auto;
  }
  code:not(pre code) {
    position: relative;
    border-radius: var(--radius);
    background-color: var(--color-muted);
    padding: calc(var(--spacing) * 0.4) var(--spacing);
    font-family: var(--font-mono);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 400;
  }
  .lead {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    color: var(--color-muted-foreground);
  }
  .large {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
    font-weight: 600;
  }
  .small {
    font-size: var(--text-sm);
    line-height: 1;
    font-weight: 500;
  }
  .muted {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--color-muted-foreground);
  }
  img,
  picture,
  video {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  picture > img {
    margin-top: 0;
    margin-bottom: 0;
  }
  kbd {
    border-radius: calc(var(--radius) - 2px);
    background-color: var(--color-muted);
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-family: var(--font-mono);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
    font-weight: 500;
  }
  hr {
    margin-top: calc(var(--spacing) * 10);
    margin-bottom: calc(var(--spacing) * 10);
  }
  dl {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
  }
  dl dt {
    font-weight: 600;
    margin-top: calc(var(--spacing) * 6);
    letter-spacing: var(--tracking-tight);
  }
  dl dt:first-child {
    margin-top: 0;
  }
  details {
    margin-top: calc(var(--spacing) * 6);
  }
  details summary {
    cursor: pointer;
    font-weight: 600;
    margin-top: calc(var(--spacing) * 6);
    letter-spacing: var(--tracking-tight);
  }
  details p:first-of-type {
    margin-top: calc(var(--spacing) * 2);
  }
  mark {
    background-color: var(--color-yellow-300);
  }
  small {
    font-size: var(--text-xs);
    line-height: 1;
  }
}
